p {
    margin-top: 0;
    margin-bottom: 2rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #171717;
}

section {
    display: block;
}

a{

}

.errorlist {
    color: red;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
    
}

.navbar{
 text-align: center;
 background-color:#171717;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
}

@media (max-width: 768px) {
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
}