{% extends 'base.html' %}
{% load static %} 
{% block content %}
<header>
<link rel="stylesheet" href="css/style.css">
 <script src="https://kit.fontawesome.com/e1976575d3.js" crossorigin="anonymous"></script>
  </header>
<main>
<section class="container">
<div class="album ">
  <div class="container">
<section>
    <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mt-5 mb-5">
            <h1 class="page-title" style="">About</h1>
          </div>
        </div>
        <div class="d-md-flex post-entry-2 half">
            {% comment %} <img src="{% static 'news\media\IMG_9526_e.jpg' %}" class="bd-placeholder-img card-img-top rounded" width="100%" height="50%" alt="#" /> {% endcomment %}


            <a href="#" class="me-4 thumbnail">
              <img src="{% static '/media/retrosupply-jLwVAUtLOAQ-unsplash.jpg' %}" class="img-fluid rounded" width="100%" height="40%" alt="#" />
            </a>
            <div class="ps-md-5" style="color:#fff;">
              <h2 class="mb-4 display-4">Blog History</h2>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, 
                necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt 
                ullam temporibus aut!
              </p>
              <p>
                Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo 
                aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.
              </p>
            </div>
          </div>
        </div>

</section>
<section>
        <div class="container mt-5"  style="color:#fff;"data-aos="fade-up">
        <div class="row">
          <div class=" text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sint sed, fugit distinctio ad eius itaque deserunt doloribus harum excepturi laudantium sit officiis et eaque blanditiis. Dolore natus excepturi recusandae.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 text-center mb-5" style="color: #fff;">
                <img src="{% static '/media/DSC_3192web.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
                <h4>George Seletski</h4>
                <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          </div>
      </div>
          
</section>
<footer class="footer">
 <div class="col-md-7" style="color:#fff ;">
            <div class="social-links mb-6 mb-lg-5 text-center text-md-end">
              <a class="m-2" href="https://www.linkedin.com/in/george-seletski/" style="color:#fff; font-size:40px;"><i class="fa-brands fa-linkedin" ></i></a>
              <a class="m-2" href="https://twitter.com/georgeseletski" style="color:#fff; font-size:40px;"><i class="fa-brands fa-twitter-square" ></i></a>
              <a class="m-2" href="https://t.me/George_Seletski" style="color:#fff; font-size:39px;"> <img class="icon" style="height: auto; width: 36px; margin-right: 0.2em; margin-bottom: 0.29em;" src="{% static '\icons\986956_telegram_icon.png' %}"></a>
          
              
            </div>

          </div>

</footer>
    </div>
    </main>
{% endblock content %}




