{% extends 'base.html' %}

{% block content %}
<section class="container">
<div class="album ">
  <div class="container">
          <div class="card  mb-4 rounded text-bg-dark">
             {% if item.photo %}
                  <img src="{{ news_last.photo.url }}" class="bd-placeholder-img card-img-top" width="100%" height="50%" alt="#" />
                {% else %}
                  <img src="https://picsum.photos/500/280" class="bd-placeholder-img card-img-top" width="100%" alt="#" />
            
                {% endif %}
            <div class="card-img-overlay">
                <div class="card-body ">
                   <div class="d-flex justify-content-between align-items-center" >
                <h1 class="card-title text-left main-img" style="font-weight: 900; ">{{ news_last.title }}</h1>
                 <h3><span  class=" badge bg-secondary rounded p-1">{{ news_last.created_at|date:'Y-m-d H:m' }}</span></h3>
                   </div>
                    <div class="d-flex justify-content-between align-items-center" >
                          <a href="{{ news_last.get_absolute_url }}" class="btn btn-md btn-outline-secondary" style="color:#fff; border: 1px solid #6c757D; background-color:#6c757D;">View</a>
                   
                          </div>
                    </div>
                </div>
            </div>  
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        {% for item in news_all %}
          <div class="col">
            <div class="card shadow-sm" style="background-color:#171717; color:#fff; border:1px solid #272727; height: 100%; ">
                {% if item.photo %}
                  <img src="{{ item.photo.url }}" class="bd-placeholder-img card-img-top" width="100%" height="50%" alt="#" />
                {% else %}
                  <img src="https://picsum.photos/500/280" class="bd-placeholder-img card-img-top" width="100%" alt="#" />
            
                {% endif %}

                <div class="card-body" >
                      <h4 class="card-title">{{ item.title }}</h4>
                      <!--<span class="card-text" style="color: grey; font-size: 15px;">{{ item.created_at|date:'Y-m-d H:m' }}</span>-->
                      <h4>
                        <span class="badge bg-secondary" style=" margin:10px 0 0px 0;">{{ item.category }}</span>
                      </h4>
                      <p class="card-text" >{{ item.content|safe|linebreaksbr|truncatewords:20 }}</p>
                   
                 <div class="d-flex justify-content-between align-items-center" >
                        <a href="{{ item.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">View</a>
                        <span class="text-muted" style="">{{ item.created_at|date:'Y-m-d H:m' }}</span>
                      </div>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </div>
      </div>
</section>
{% endblock content %}




