{% extends 'base.html' %}

{% block content %}
<section class="container">
<div class="album mt-3">
  <div class="container">
         <a href="{{ news_last.get_absolute_url }}">
          <div class="card mb-4 text-bg-dark">
       
             {% if news_last.photo %}
            <img src="{{ news_last.photo.url }}" class="bd-placeholder-img card-img-top rounded" width="100%" height="50%" alt="#" />
             {% else %}
                  <img src="https://picsum.photos/500/280" class="bd-placeholder-img card-img-top" width="100%" alt="#" />
            
                {% endif %}
      
              <div class="card-img-overlay">
                  <div class="card-body ">
                        <h3></h3>
                        <div class="d-flex justify-content-between align-items-center" >
                            <h1 class="card-title text-left main-img" style="font-weight: 900; ">{{ news_last.title }}
                            </h1>
                          <h1><span  class="badge rounded p-1" style="font-size: 0.5em;">{{ news_last.created_at|date:'d.m.Y' }}</span></h1>
                        </div>
                        {% comment %} <div class="d-flex justify-content-between align-items-center" >
                          
                              <a  class="btn bg-dark btn-md btn-outline-secondary" style=" font-size:150%; color:#fff;">View</a>
                            </div> {% endcomment %}
                        </div>
                  </div>
            </div>  
         </a>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        {% for item in news_all %}
          <div class="col">
            <div class="card shadow-sm" style="background-color:#171717; color:#fff; border:1px solid #272727; height: 100%; ">
                {% if item.photo %}
                  <img src="{{ item.photo.url }}" class="bd-placeholder-img card-img-top" width="100%" height="50%" alt="#" />
                {% else %}
                  <img src="https://picsum.photos/500/280" class="bd-placeholder-img card-img-top" width="100%" alt="#" />
            
                {% endif %}

                <div class="card-body" >
                      <h4 class="card-title" style="font-weight:bold;">{{ item.title }}</h4>
                      <!--<span class="card-text" style="color: grey; font-size: 15px;">{{ item.created_at|date:'Y-m-d H:m' }}</span>-->
                      <h4>
                        <span class="badge bg-secondary" style=" margin:10px 0 0px 0;">{{ item.category }}</span>
                      </h4>
                      <p class="card-text" >{{ item.content|safe|linebreaksbr|truncatewords:20 }}</p>
                   
                 <div class="d-flex justify-content-between align-items-center" >
                        <a href="{{ item.get_absolute_url }}" class="btn btn-sm btn-outline-secondary" style="color:#fff;">View</a>
                        <span class="text-muted" style="color:#fff;">{{ item.created_at|date:'d.m.Y' }}</span>
                      </div>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </div>
      </div>
</section>
{% endblock content %}




