{% extends 'base.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in news %}
          <div class="col" style="margin: 10px 0 10px 0;">
            <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded" style="border:0px;">
              {% if item.photo %}
                <img src="{{ item.photo.url }}" class="rounded card-img-top img-fluid" alt="#" />
              {% else %}
                <img src="https://picsum.photos/500/280" class=" rounded card-img-top" alt="#" />
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">{{ item.title }}
                </h4>
                 <span class="card-text" style="color: grey; font-size: 15px;">{{ item.created_at|date:'Y-m-d H:m' }}</span>
                 <h5><span class="badge bg-secondary" style=" margin:10px 0 0px 0;">{{ item.category }}</span>
                </h5>
                
                <p class="card-text">{{ item.content|safe|linebreaksbr|truncatewords:50 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

{% endblock content %}




