{% extends 'base.html' %}

{% block title %}
{{ news_item.title }} 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col" style="margin: 10px 0 10px 0;">
        <div class="card  h-100 shadow-lg p-3 mb-5 bg-dark rounded" style="border:0px;">
              
                <div class="card"  style="max-width: fit-content; border: 0px;">
                {% if news_item.photo %}
                    <img src="{{ news_item.photo.url }}" class="img-fluid rounded d-block" alt="#"/>
                {% else %}
                    <img src="https://picsum.photos/1500/500" class="img-fluid rounded d-block" alt="#" />
                {% endif %} </div>            
              <div class="card-body">
               <div class="d-flex justify-content-between align-items-center"></h4>
               <h4 class="card-title mt-3 mb-1" style=" font-weight:bold; font-size:200%; color: #fff;">{{ news_item.title }}
              </h4>
             
               
                 <h4><span class="card-text" style="margin-left: 0.5em;color: grey; font-size: 15px;">{{ news_item.created_at|date:'d.m.Y' }}</span></h4>
                </div>
                 <h4><span class="badge bg-secondary" style=" margin:10px 0 0px 0;">{{ news_item.category }}</span>
                </h4>
                <p class="card-text" style="color: white;">{{ news_item.content|safe|linebreaksbr}}</p>
                <p>
                   <h5 style="color: #fff; text-decoration: underline;">Views: {{news_item.views}}</h5>
                </p>
              </div>
            </div>
          </div>

</div>

{% endblock content %}




